<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>408828516878-753a5ved6pn97dljocj5oc5s1jn8kuc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408828516878-753a5ved6pn97dljocj5oc5s1jn8kuc4</string>
	<key>API_KEY</key>
	<string>AIzaSyAJhC9C3E1CNTWq8gffVu-SS8Qcri0ERyw</string>
	<key>GCM_SENDER_ID</key>
	<string>408828516878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpf-17.SmartFit</string>
	<key>PROJECT_ID</key>
	<string>smartfit-d80f0</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfit-d80f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:408828516878:ios:91e4a3f88a1573d9</string>
	<key>DATABASE_URL</key>
	<string>https://smartfit-d80f0.firebaseio.com</string>
</dict>
</plist>